node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
out/
.shadow-cljs/
.nrepl-port
pom.xml
.idea/
*.iml
app/
.cpcache
/web-build


*.class
yarn.lock
*.jar
checkouts
classes
figwheel_server.log
lein-template.iml
pom.xml.asc
resources/public/js/main
resources/public/js/cards
resources/public/js/test/js
target
out
package-lock.json
resources/private
.lein-repl-history
.shadow-cljs
resources/public/js
resources/public/workspaces/js
resources/public/workspaces/manifest.edn
.ruby-version
