{

 :taoensso.timbre/logging-config
                             {:level        :info
                              :ns-whitelist []
                              :ns-blacklist ["datomic.kv-cluster"
                                             "datomic.process-monitor"
                                             "datomic.reconnector2"
                                             "datomic.common"
                                             "datomic.peer"
                                             "datomic.log"
                                             "datomic.db"
                                             "datomic.slf4j"
                                             "org.projectodd.wunderboss.web.Web"
                                             "shadow.cljs.devtools.server.worker.impl"]}

 }
